body {
  background: darkcyan;
}

.App {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  color: white;
}

button {
  padding: 10px 15px;
  color: darkcyan;
  background: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bolder;
}

button:hover {
  background: darkcyan;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
